@charset "UTF-8";
body {
	background-color: #17191e;
    font-family: "Source Sans Pro", "Lucida Grande", "Lucida Sans", "Helvetica", "Segoe";
    font-size: 2em; /* fallback */ 
    font-size: calc(1vw + 2vh); /* relative to viewport */
}
#box {
	/* box colors */
	background: #272a32;
	color: #fff;
	/* box shape */
	border-radius: 0.5em;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 1em;
	padding-bottom: 1.5em;
	/* box content positioning */
	align-content: center;
	align-items: center;
	justify-content: center;
	/* box position */
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
a {
	color: #73efc4;
	text-decoration: none;
}
a:hover {
	color: #73EFC4
}
a:active {
	color: #73EFC4
}
a:visited {
	color: #73EFC4
}
